body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

#prediction-form {
    margin-bottom: 20px;
}

#statistics {
    display: flex;
    justify-content: space-around;
}